<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\sales.atomicseller.com.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" >
		<environmentVariables>
		    <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
		</environmentVariables>
		</aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: c596c7cc-5f6e-47c9-9ea1-9499c856cbab-->
